<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1 style="text-align: center; color: rgb(42, 48, 48);">Data Flow Task</h1>


<table  border="1" style="background-color: rgb(236, 241, 228); width:100%;">
  <tr>
    <td><!-- scenario 1 -->
      <app-component></app-component></td>
    <td><!-- scenario 2 -->
      <app-component2></app-component2></td>
  </tr>

  <tr>
    <td><!-- scenario 3 -->
      <app-component31></app-component31></td>
    <td><!-- scenario 4 -->
      <app-component41></app-component41></td>
  </tr>

  <tr>
    <td>  <!-- scenario 5 -->
      <app-component51></app-component51></td>
    <td>  <!-- scenario 6-->
      <app-component61></app-component61></td>
  </tr>
  
   
</table>

<!-- <router-outlet></router-outlet> -->